#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    justify-content: center;
    border-style: solid;
    border-color: black;
}

.grid_div {
    height: 60px;
    width: 60px;
}